.cart-container{
    margin-top:30px;
     display:flex;
    width:auto;
    justify-content:space-between ;
    align-items: center;

    /* //background-color: lightgrey; */
}


.deletebtn{
    width:75px;
    height:30px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    color:white;
    margin-right:180px;
 
}


.title{
    /* margin-right:50px; */
  float:left;
 
}

.cart-container span{

  width: 50%;
  margin-left:-60px;
}


 .line{
    outline: 1px solid #8281a7;
    margin-top:25px
}

.cartamount{
  
  margin-bottom: 500px;

}

.main-container{
  margin-top:30px;
  border:  1px solid grey;


}

.cart{
  display:flex;
  justify-content: space-between;
  margin-top: 50px;

}

.cart-container img{
  width:65px;
  height:65px;
  margin-left: 50px;
}

.buybtn{
  margin-left: 45%;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color:white;
  background-color: rgb(94, 20, 190);
  width:150px;
  height:50px;

}



.stripemsg h1{
   text-align: center;
   font-size: xx-large;
   margin-top: 150px;
   margin-bottom: 33%;
}

